td.selected
{
	background-color: #CCC;
}

div.article
{
	border: 1px solid #CCC;
	margin-bottom: 15px;
}

.no-margin
{
	margin: 0;
}

textarea.article-body
{
	min-height: 400px
}

textarea#edito
{
	min-height: 180px;
}

div#main
{
	margin-top: 75px;
}

[ng-click]
{
	cursor: pointer;
}

img.medium
{
	width: 32px;
	height: 32px;
}

div.bottom
{
	margin-top: 50px;
}

div.article
{
	padding-bottom: 10px;
}

div.article.focused
{
	background-color: #FFFFEE;
}

div.pull-right>button
{
	margin: 15px;
}

div.article-title
{
	color: #777;
	font-weight: bold;
	line-height: 34px;
}