td.selected
{
	background-color: #CCC;
}

div.article
{
	border: 1px solid #CCC;
	margin-bottom: 15px;
}

.no-margin
{
	margin: 0;
}

textarea.article-body
{
	min-height: 400px
}

div#main
{
	margin-top: 75px;
}

img[ng-click]
{
	cursor: pointer;
}