/***** header *****/
.navbar-inverse{
	background-image: linear-gradient(to bottom, #363a45 0px, #262830 100%);
    position: relative;
}

.navbar-nav > li > a{padding-top: 13px;}

/****** main *****/
div#main{}

table.table{margin-top: 10px;}

table.table tbody td{vertical-align: middle; padding: 25px 8px 0 8px;}

td.language_flag.selected a{border: 2px solid red;}

td.language_flag a{
	width: 36px;
	height: 32px;
	text-indent: -9999px;
	display: block;
	outline: none;
	margin: auto;
	background-position: 0 -2px;
	background-repeat: no-repeat;
}

td.language_flag.en a, div.language_flag.en{background-image: url("../img/usa.png")}
td.language_flag.fr a, div.language_flag.fr{background-image: url("../img/france.png")}
td.language_flag.es a, div.language_flag.es{background-image: url("../img/spain.png")}
td.language_flag.de a, div.language_flag.de{background-image: url("../img/german.png")}
td.language_flag.it a, div.language_flag.it{background-image: url("../img/italy.png")}
td.language_flag.br a, div.language_flag.br{background-image: url("../img/portuguese.png")}
td.language_flag.pl a, div.language_flag.pl{background-image: url("../img/poland.png")}
td.language_flag.ru a, div.language_flag.ru{background-image: url("../img/russia.png")}

div.language_flag
{
	background-repeat: no-repeat;
	width: 36px;
	height: 32px;
}

div.language_name
{
	padding-top: 6px;
}

div.message-translation
{
	margin-bottom: 5px;
}

div.message
{
	margin-bottom: 5px;
}

div.article
{
	border: 1px solid #CCC;
	margin-bottom: 15px;
	padding: 10px
}

div.article-body{margin-top: 10px;}
div.article-body h4{padding-left: 10px;}
div.article-body .table td{
	border: none;
	vertical-align: top;
	padding: 0 8px 0 8px;
}

div.article-body .table .line_buttons td{
	padding-bottom: 15px;
}

img.move_article{width: 32px}

.no-margin{margin: 0;}

textarea.article-body{
	min-height: 400px;
}

textarea#edito{min-height: 180px;}

[ng-click]
{
	cursor: pointer;
}

img.medium
{
	width: 32px;
	height: 32px;
}

div.bottom{margin-top: 20px;}

div.article.focused, div.article:hover{background-color: #FFFFEE;}

div.pull-right>button{margin: 15px;}

div.article-title{
	color: #777;
	font-weight: bold;
	line-height: 34px;
}

div.other-col-has-btn
{
	padding-top: 7px; 
}

div.row.spaced
{
	margin-bottom: 10px;
}

input.ng-valid
{
	background-color: #F3FFF3;
}

input.ng-invalid
{
	background-color: #FEE;	
}

input.ng-invalid.ng-pristine
{
	background-color: inherit;
}

form.button-form
{
	border: 1px solid #CCC;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px
}