<div id="article_{{article.id}}" class="article container">
	<div class="row">
		<div class="col-lg-6"><h4 ng-click='visible=!visible'>{{ucfirst(article.type)}} Article (#{{article.id}})</h4></div>
		<div class="col-lg-6 article-title">{{article.title || 'Untitled Article'}}</div>
	</div>
	
	<img ng-click="moveUp()" src="/img/up.png" title="Move article UP.">
	<img ng-click="moveDown()" src="/img/down.png" title="Move article DOWN.">
	
	<div class="article-body" ng-show="visible">
		<div class="form-horizontal">
			<div class="form-group">
				<label for="article_type_{{article.id}}" class="control-label col-lg-3">Article Type</label>
				<div class="col-lg-9">
					<select class="form-control" id="article_type_{{article.id}}" ng-model="article.type" ng-options="v as v for v in article_types"></select>
				</div>
			</div>
			<div class="form-group">
				<label for="article_title_{{article.id}}" class="control-label col-lg-3">Article Title</label>
				<div class="col-lg-9">
					<input class="form-control" id="article_title_{{article.id}}" ng-model="article.title">
				</div>
			</div>
			<div class="form-group">
				<label for="article_title_size_{{article.id}}" class="control-label col-lg-3">Article Title Size (in pixels)</label>
				<div class="col-lg-9">
					<input id="article_title_size_{{article.id}}" class="form-control" type="number" ng-model="article.title_size">
				</div>
			</div>
			<div class="form-group">
				<label for="article_body_{{article.id}}" class="control-label col-lg-3">Article Body</label>
				<div class="col-lg-9">
					<textarea class="form-control article-body" id="article_body_{{article.id}}" ng-model="article.body"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="article_image_url_{{article.id}}" class="control-label col-lg-3">Image URL</label>
				<div class="col-lg-9">
					<input id="article_image_url_{{article.id}}" class="form-control" ng-model="article.image_url">
				</div>
			</div>
			<div class="form-group">
				<label for="article_image_anchor_{{article.id}}" class="control-label col-lg-3">Image Anchor</label>
				<div class="col-lg-9">
					<input id="article_image_anchor_{{article.id}}" class="form-control" ng-model="article.image_anchor">
				</div>
			</div>
			<div class="form-group">
				<label for="article_image_alt_{{article.id}}" class="control-label col-lg-3">Image Alt</label>
				<div class="col-lg-9">
					<input class="form-control article-body" id="article_image_alt_{{article.id}}" ng-model="article.image_alt">
				</div>
			</div>
		</div>
		<h4>Article Buttons</h4>
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-lg-9 col-lg-offset-3">
					<table class="table">
						<tr>
							<th></th>
							<th></th>
							<th>Title</th>
							<th>Style</th>
							<th>URL</th>
							<th></th>
						</tr>
						<tr ng-repeat='(pos_in_array, button) in buttons | orderBy:buttonOrderProp' ng-controller='ButtonController' ng-include="'/views/button.html'"></tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-9 col-lg-offset-3">
					<button ng-click="addButton()" type="button" class="btn btn-default no-margin">Add Button</button>
				</div>
			</div>
		</div>

		<div class="bottom">
			<div class="row">
				<div class="pull-right">
					<button ng-click="deleteArticle(position_in_array)" type="button" class="btn btn-danger">Delete Article</button>
				</div>
			</div>
		</div>
	</div>
</div>