<div id="article_{{article.id}}" class="article container {{article.id === shared.focused_article_id ? 'focused' : ''}}">
	<div class="row" ng-click='toggleFocusedArticle(article.id)'>
		<div class="col-lg-3"><h4>{{ucfirst(article.type)}} Article (#{{article.id}})</h4></div>
		<div class="col-lg-6 article-title text-center">{{article.title || 'Untitled Article'}}</div>
		<div class="col-lg-3 text-right">
			<img ng-click="moveUp($event)" src="/img/up.png" title="Move article UP." class="move_article">
			<img ng-click="moveDown($event)" src="/img/down.png" title="Move article DOWN." class="move_article">
		</div>
	</div>
	
	<div class="article-body" ng-show="article.id == shared.focused_article_id">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="article_type_{{article.id}}" class="control-label col-lg-3">Article Type</label>
				<div class="col-lg-9">
					<select class="form-control" id="article_type_{{article.id}}" ng-model="article.type" ng-options="v as v for v in article_types" ng-change='shared.default_article_type=article.type'></select>
				</div>
				<p class="help-block col-lg-9 pull-right">Type: default article or footer article</p>
			</div>
			<div class="form-group">
				<label for="article_title_{{article.id}}" class="control-label col-lg-3">Article Title</label>
				<div class="col-lg-9">
					<input required class="form-control" id="article_title_{{article.id}}" ng-model="article.title">
				</div>
			</div>
			<div class="form-group">
				<label for="article_title_size_{{article.id}}" class="control-label col-lg-3">Article Title Size (in pixels)</label>
				<div class="col-lg-9">
					<input required min="24" id="article_title_size_{{article.id}}" class="form-control" type="number" ng-model="article.title_size">
				</div>
				<p class="help-block col-lg-9 pull-right">Min size: 24px</p>
			</div>
			<div class="form-group">
				<label for="article_body_{{article.id}}" class="control-label col-lg-3">Article Body</label>
				<div class="col-lg-9">
					<textarea class="form-control article-body" id="article_body_{{article.id}}" ng-model="article.body"></textarea>
				</div>
			</div>
		</form>
		<hr/>
		<h4>Article Image</h4>
		<div class="form-horizontal">
			<div class="form-group">
				<label for="article_image_url_{{article.id}}" class="control-label col-lg-3">Image URL</label>
				<div class="col-lg-9">
					<input id="article_image_url_{{article.id}}" class="form-control" ng-model="article.image_url">
				</div>
				<p class="help-block col-lg-9 pull-right">Link on the image</p>
			</div>
			<div class="form-group">
				<label for="article_image_anchor_{{article.id}}" class="control-label col-lg-3">Image Link</label>
				<div class="col-lg-9">
					<input id="article_image_anchor_{{article.id}}" class="form-control" ng-model="article.image_anchor">
				</div>
				<p class="help-block col-lg-9 pull-right">
					Name of the image (e.g: training.png,...). <br/> 
					Max-width of an article image: 285px. <br/>
					Size of footer article image: 275px*205px. <br/>
					Very important. To send to Sarah to put it on the server
				</p>
			</div>
			<div class="form-group">
				<label for="article_image_alt_{{article.id}}" class="control-label col-lg-3">Image Alt</label>
				<div class="col-lg-9">
					<input class="form-control article-body" id="article_image_alt_{{article.id}}" ng-model="article.image_alt">
				</div>
				<p class="help-block col-lg-9 pull-right">Name for the image</p>
			</div>
		</div>
		<hr/>
		<h4>Article Buttons</h4>
		<div class="form-horizontal">
			<div class="form-group">
				<div ng-repeat='(pos_in_array, button) in buttons | orderBy:buttonOrderProp' ng-controller='ButtonController' ng-include="'/views/button.html'" class="line_buttons"></div>
			</div>
			<div class="form-group">
				<div class="col-lg-9 col-lg-offset-2">
					<button ng-click="addButton()" type="button" class="btn btn-primary no-margin">Add New Button</button>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="row">
				<div class="pull-right">
					<button ng-safe-click="deleteArticle()" type="button" class="btn btn-danger">Delete Article</button>
				</div>
			</div>
		</div>
	</div>
</div>