<h2>Newsletter #{{newsletter.number}}</h2>

<div class="form-horizontal">
	<div class="form-group">
		<label for="number" class="control-label col-lg-3">
			<span data-toggle="tooltip" class="label-tooltip" data-original-title="Caractères interdits &lt;&gt;;=#{}">
				Newsletter Number
			</span>
		</label>
		<div class="col-lg-9">
			<input class="form-control" id="number" type="number" ng-model="newsletter.number">
		</div>
		<p class="help-block col-lg-9 pull-right">ID of the newsletter (e.g: 145, 172...)</p>
	</div>
	<div class="form-group">
		<label for="date" class="control-label col-lg-3">To be sent on</label>
		<div class="col-lg-9">
			<input class="form-control" id="date" type="date" ng-model="newsletter.date">
		</div>
		<p class="help-block col-lg-9 pull-right">Date to send it (e.g: 2014-01-30)</p>
	</div>
</div>

<h4>Choose a language</h4>
<table class="table">
	<tr>
		<td ng-repeat="language in languages" class="language_flag {{language.code}} {{language.klass}}">
			<a href="#/newsletters/{{newsletter.id}}/{{language.code}}">{{language.name}}</a>
		</td>
	</tr>
</table>
<hr/>

<div ng-if="!newsletter_language">
	Please select a language to view / edit.
</div>

<div ng-if="newsletter_language">

	<div class="row">
		<div class="col-lg-2">
			<a target="_blank" href="{{preview_url}}" class="btn btn-success">Preview Me!</a>
		</div>
		<div class="col-lg-2">
			<button ng-safe-click='deleteNewsletter()' class="btn btn-danger">Kill This Newsletter</button>
		</div>
	</div>

	<hr/>

	<h3>Newsletter Title and Edito</h3>

	<form class="form-horizontal">
		<div class="form-group">
			<label for="title" class="control-label col-lg-3">Newsletter Title</label>
			<div class="col-lg-9">
				<input required class="form-control" id="title" ng-model="newsletter_language.title">
			</div>
		</div>
		<div class="form-group">
			<label for="title_size" class="control-label col-lg-3">Title Size (in pixels)</label>
			<div class="col-lg-9">
				<input required min="24" id="title_size" class="form-control" type="number" name="title_size" ng-model="newsletter_language.title_size">
			</div>
			<p class="help-block col-lg-9 pull-right">Min size: 24px</p>
		</div>
		<div class="form-group">
			<label for="edito" class="control-label col-lg-3">Edito</label>
			<div class="col-lg-9">
				<textarea class="form-control" id="edito" ng-model="newsletter_language.edito"></textarea>
			</div>
		</div>
	</form>

	<h3>Newsletter Articles</h3>

	<div ng-repeat="(position_in_array, article) in articles | orderBy:articleOrderProp" ng-controller="ArticleController" ng-include="'views/article.html'">
	</div>

	<button ng-click="addArticle()" type="button" class="btn btn-primary">Add New Article</button>
</div>

<hr/>

<div class="row bottom">
	<div ng-if="newsletter_language" class="col-lg-2">
		<a target="_blank" href="{{preview_url}}" class="btn btn-success">Preview Me!</a>
	</div>
	<div class="col-lg-2">
		<button ng-safe-click='deleteNewsletter()' class="btn btn-danger">Kill This Newsletter</button>
	</div>
</div>