<h2>Newsletter #{{newsletter.number}}</h2>

<div class="form-horizontal">
	<div class="form-group">
		<label for="number" class="control-label col-lg-3">Newsletter Number</label>
		<div class="col-lg-9">
			<input class="form-control" id="number" type="number" ng-model="newsletter.number">
		</div>
	</div>
	<div class="form-group">
		<label for="date" class="control-label col-lg-3">To be sent on</label>
		<div class="col-lg-9">
			<input class="form-control" id="date" type="date" ng-model="newsletter.date">
		</div>
	</div>
</div>

<table class="table">
	<tr>
		<td ng-repeat="(code, language) in languages" class="{{language.klass}}">
			<a href="#/newsletters/{{newsletter.id}}/{{code}}">{{language.name}}</a>
		</td>
	</tr>
</table>

<div ng-if="!newsletter_language">
	Please select a language to view / edit.
</div>


<div ng-if="newsletter_language">
	<h3>Newsletter Title and Edito</h3>

	<div class="form-horizontal">
		<div class="form-group">
			<label for="title" class="control-label col-lg-3">Newsletter Title</label>
			<div class="col-lg-9">
				<input class="form-control" id="title" ng-model="newsletter_language.title">
			</div>
		</div>
		<div class="form-group">
			<label for="title_size" class="control-label col-lg-3">Title Size (in pixels)</label>
			<div class="col-lg-9">
				<input id="title_size" class="form-control" type="number" ng-model="newsletter_language.title_size">
			</div>
		</div>
		<div class="form-group">
			<label for="edito" class="control-label col-lg-3">Edito</label>
			<div class="col-lg-9">
				<textarea class="form-control" id="edito" ng-model="newsletter_language.edito"></textarea>
			</div>
		</div>
	</div>

	<h3>Newsletter Articles</h3>

	<div ng-repeat="(position_in_array, article) in articles | orderBy:articleOrderProp" ng-controller="ArticleController" ng-include="'/views/article.html'">
	</div>

	<button ng-click="addArticle()" type="button" class="btn btn-default">Add Article</button>
</div>
<div class="bottom">
	<button ng-click='deleteNewsletter()' class="btn btn-danger">Kill This Newsletter</button>
</div>