<div ng-include="'/includes/_header.html'"></div>

<!-- Settings -->

<!-- Edito -->

<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $edito-title The best of Google Analytics and SEO tips for e-commerce! -->
<!-- $edito-title-size 24px -->
<!-- $edito-description This week&rsquo;s edition, we&rsquo;re sharing some awesome tips to help you better strategize your marketing efforts to increase sales and traffic.<br/><br/>Don&rsquo;t miss out &ndash; there&rsquo;s tons of valuable information below to make your online store the ultimate success!<br/><br/>Read on! -->
<!-- END EDIT ////////////////////////////////////////////////// -->

<!-- Summary -->

<!-- @include _summary-heading -->
<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $summary-item How to Use Google Analytics to Improve Marketing for your Online Store -->
<!-- END EDIT ////////////////////////////////////////////////// -->
<!-- @include _summary-item -->
<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $summary-item Enjoy 15% OFF all modules developed by OleaCorner! -->
<!-- END EDIT ////////////////////////////////////////////////// -->
<!-- @include _summary-item -->
<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $summary-item 5 Profitable Tips to Drastically Improve SEO for your Online Store -->
<!-- END EDIT ////////////////////////////////////////////////// -->
<!-- @include _summary-item -->
<!-- @include _content-heading -->

<!-- Articles -->

<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $article-title How to Use Google Analytics to Improve Marketing for your Online Store -->
<!-- $article-title-size 24px -->
<!-- $article-description Google Analytics is a powerful tool to understand the behavior of your visitors. It provides you with essential information to help you identify your visitors and how they interact with your online store. With Google Analytics you can find out what interests your visitors to improve your marketing efforts and increase e-commerce sales.<br/><br/>Read more about the six ways to use Google Analytics to improve marketing efforts and develop effective marketing strategies. -->
<!-- $article-link http://www.prestashop.com/blog/en/how-to-use-google-analytics-to-improve-marketing-for-your-online-store/ -->
<!-- $article-button next_button -->
<!-- $article-button-alt Read More -->
<!-- $article-button-width 119 -->
<!-- $article-image tips-analytics.jpg -->
<!-- $article-image-alt Google Analytics -->
<!-- END EDIT ////////////////////////////////////////////////// -->
<!-- @include _article -->
<!-- @include _article-separator -->

<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $article-title Enjoy 15% OFF all modules developed by OleaCorner! -->
<!-- $article-title-size 24px -->
<!-- $article-description Now through Saturday at midnight we're offering 15% off all OleaCorner developed modules. OleaCorner has created modules that will make selling easier and more effective for every online merchant!<br/><br/>From incentivizing your customers with gifts to creating prepaid accounts for your shoppers, OleaCorner has over a dozen unique modules to enhance your daily management and increase your sales.<br/><br/><strong>Take advantage of this limited time offer!<br/>Promo Code: FlashOlea</strong> -->
<!-- $article-link http://addons.prestashop.com/en/8_OleaCorner?utm_source=NewsletterEN&utm_medium=OleaCorner&utm_campaign=Addons2013 -->
<!-- $article-button available_nl -->
<!-- $article-button-alt View it on Addons -->
<!-- $article-button-width 177 -->
<!-- $article-image addons-flash-oleacorner.jpg -->
<!-- $article-image-alt 15% OFF OleaCorner -->
<!-- END EDIT ////////////////////////////////////////////////// -->
<!-- @include _article -->
<!-- @include _article-separator -->

<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $article-title 5 Profitable Tips to Drastically Improve SEO for your Online Store -->
<!-- $article-title-size 20px -->
<!-- $article-description In order to be profitable online, customers must be able to discover your store.<br/>This is why practicing various strategies for SEO, Search Engine Optimization, are crucial for your store&rsquo;s success.<br/><br/>Read our blog post on tips to drastically improve SEO for your online store. -->
<!-- $article-link http://www.prestashop.com/blog/en/5-profitable-tips-to-drastically-improve-seo-for-your-online-store/#more-13991 -->
<!-- $article-button next_button -->
<!-- $article-button-alt Read More -->
<!-- $article-button-width 119 -->
<!-- $article-image seo.jpg -->
<!-- $article-image-alt Search engine optimization -->
<!-- END EDIT ////////////////////////////////////////////////// -->
<!-- @include _article -->

<!-- Focus -->

<!-- EDIT ////////////////////////////////////////////////////// -->
<!-- $focus-1-title Hot News -->
<!-- $focus-1-description PrestaShop is headed to the west coast! RSVP for our free e-commerce events. -->
<!-- $focus-1-link http://www.prestashop.com/en/events -->
<!-- $focus-1-image prestashop-events.jpg -->
<!-- $focus-1-image-alt PrestaShop events -->
<!-- $focus-1-button eshop_button_advice_dicover -->
<!-- $focus-1-button-alt Read More -->

<!-- $focus-2-title Advice -->
<!-- $focus-2-description Discover how to find the right products to sell online. -->
<!-- $focus-2-link http://www.prestashop.com/blog/en/how-to-find-the-right-products-to-sell-online/ -->
<!-- $focus-2-image target.jpg -->
<!-- $focus-2-image-alt Find the right products -->
<!-- $focus-2-button suscribe_button_read_more -->
<!-- $focus-2-button-alt Read More -->

<!-- $focus-3-title This week -->
<!-- $focus-3-description Join our team of e-commerce enthusiasts who love what they do! -->
<!-- $focus-3-link http://www.prestashop.com/en/careers -->
<!-- $focus-3-image  careers.jpg -->
<!-- $focus-3-image-alt Work at PrestaShop -->
<!-- $focus-3-button participe_button_discover -->
<!-- $focus-3-button-alt Read More -->
<!-- END EDIT ////////////////////////////////////////////////// -->

<!-- @include _content-footer -->
<!-- @include _footer -->