/* Fonts and Content */
body { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }

/* Landscape phones and down */

@media only screen and (max-width: 500px) { 
	
	table[class=w10], td[class=w10], img[class=w10] { width:15px !important;} 
	table[class=w30], td[class=w30], img[class=w30] { width:15px !important; }				
	table[class=w35], td[class=w35], img[class=w35] { width:15px !important; }				
	table[class=w100], td[class=w100], img[class=w100] { width:50px !important; }  
	table[class=w140], td[class=w140], img[class=w140] { width:180px !important; text-align:center;}
	table[class=w400], td[class=w400], img[class=w400] { width:250px !important;}
	table[class=w660], td[class=w660], img[class=w660] { width:458px !important; }
	td[class=w20], img[class=w20]{ display:none !important; }    
	img[class=w660imgempty]{width:455px;}
	
		 /*3 lines */
		table[class=w180], td[class=w180] {width:464px !important; display:block;}
		table[class=wtableedito], td[class=wtableedito], img[class=wtableedito]{width:458px !important; display:block;margin-bottom:10px}
		table[class=wsummary], td[class=wsummary], img[class=wsummary]{width:458px !important; display:block;}
	
		/* css header */
		table[class=w400click], td[class=w400click], img[class=w400click] { width:250px !important; display:block !important}
		td[class=w20header] { width:15px !important; }  
		td[class=wspace_header], img[class=wspace_header]{ width:10px !important }
		td[class=wnewsletter_text]{ padding-top:20px;width:220px !important; display:block;}
		span[class=wintrotext]{ font-size:25px !important;padding-left: 5px;}	

		/* css edito */
		table[class=w460], td[class=w460], img[class=w460] {width:455px !important;}
		table[class=wtableedito], td[class=wtableedito] {border:2px solid #e7e7e8;}
		table[class=wsummary], td[class=wsummary] {border:2px solid #e7e7e8;}
		img[class=weditomenu] {padding-left:10px;}
		
		/* css summary */
		td[class=wsummary], img[class=wsummary]{display:none !important}
		
		/*css content*/
		table[class=wtablecontent] {border:2px solid #e7e7e8; width:462px !important;} /** global table **/
		td[class=wtablecontent] {width:445px !important}
		table[class=w660content], td[class=w660content]{width:439px !important;display:block;}
		span[class=titlearticle]{font-size:20px !important}
		td[class=wleftrightcontent] {border-left:none !important;border-right:none !important; width:15px !important;} /*** margin left and right ***/
		table[class=w180content] {width:440px !important;}
		td[class=w180contentimg]{width:435px !important;display:inline-block;}
		td[class=w180contenttext] {width:435px !important;display:inline-block;margin-top:15px;}
		td[class=wbtnmore] {display:none;}
		td[class=btnbottommore] {display:inline-block;width: 435px;}
		img[class=w180content] , img[class=wbtnmore] {width:220px !important;display:block;}
		img[class=w180contentimg]{width:285px !important;display:block;margin:0 85px;}
		img[class=btnbottommore_big] {float: left;margin: 0 125px !important;width: 177px !important;}
		img[class=btnbottommore_little] {display:block;float: left;margin: 0 165px !important;}
		a[class=w180], img[class=w180] {width:220px !important; display:block;}
		td[class=wborderblockcontent]{border-bottom:1px solid #e7e7e8}
		img[class=wborderblockcontent] {display:none !important}
		
		/*css vignettes*/
		table[class=w660vig], td[class=w660vig]{width:458px !important;display:block;}
		table[class=w660vigcontent], td[class=w660vigcontent]{width:458px !important;display:block;border-left:none !important; border-right:none !important}
		table[class=w660global_vig], td[class=w660global_vig] {width:440px !important;display:block}
		td[class=w660global_vig_first] {border-bottom:1px solid #E7E7E8;}
		td[class=w660global_vig_last] {border-bottom:none;}
		td[class=w25]{width:25px !important;}
		span[class=spanvignettetitle]{width:auto !important;}
		a[class=spanvignettelink]{display:block;width:440px !important;}
		img[class=imgvignett]{width:275px !important;margin: auto;}
		span[class=spanvignettecontent]{display: block;margin: 15px 15px 0;width: 420px;text-align: center;}
		a[class=spanvignettebtn]{display: block;margin-top:15px}
		td[class=w660vignettes] {width:460px !important;display:block;border-bottom:1px solid #E7E7E8;border-left: medium none !important;border-right: medium none !important;}
		td[class=w660lastvignette] {width:460px !important;display:block;border-left: medium none !important;border-right: medium none !important;}
		img[class=btn_vignette]{margin: auto;width: 171px !important;}
		
		/*css footer*/
		td[class=wspacepicto], img[class=wspacepicto]{width:5px !important;}
		td[class=wpictofooter]{width:35px !important;}
		img[class=wpictofooter]{width:25px !important;height:25px!important}
		table[class=wfollowus], td[class=wfollowus]{width:200px !important;display:block;}
		td[class=wclick]{width:255px !important;}
		span[class=wclick]{display:block;width:240px}
		span[class=law]{display:block;width:455px}
} 

@media only screen and (min-width: 501px) and (max-width: 768px) { 
	table[class=w10], td[class=w10], img[class=w10] { width:15px !important;} 
	table[class=w30], td[class=w30], img[class=w30] { width:15px !important; }				
	table[class=w35], td[class=w35], img[class=w35] { width:15px !important; }				
	table[class=w100], td[class=w100], img[class=w100] { width:50px !important; }  
	table[class=w140], td[class=w140], img[class=w140] { width:180px !important; text-align:center;}
	table[class=w400], td[class=w400], img[class=w400] { width:250px !important;}
	table[class=w660], td[class=w660], img[class=w660] { width:458px !important; }
	td[class=w20], img[class=w20]{ display:none !important; }    
	img[class=w660imgempty]{width:455px;}
	
		 /*3 lines */
		table[class=w180], td[class=w180] {width:462px !important; display:block;}
		table[class=wtableedito], td[class=wtableedito], img[class=wtableedito]{width:458px !important; display:block;margin-bottom:10px}
		table[class=wsummary], td[class=wsummary], img[class=wsummary]{width:458px !important; display:block;}
	
		/* css header */
		table[class=w400click], td[class=w400click], img[class=w400click] { width:250px !important; display:block !important}
		td[class=w20header] { width:15px !important; }  
		td[class=wspace_header], img[class=wspace_header]{ width:10px !important }
		td[class=wnewsletter_text]{ padding-top:20px;width:220px !important; display:block;}
		span[class=wintrotext]{ font-size:25px !important;padding-left: 5px;}	

		/* css edito */
		table[class=w460], td[class=w460], img[class=w460] {width:455px !important;}
		table[class=wtableedito], td[class=wtableedito] {border:2px solid #e7e7e8;}
		table[class=wsummary], td[class=wsummary] {border:2px solid #e7e7e8;}
		img[class=weditomenu] {padding-left:10px;}
		
		/* css summary */
		td[class=wsummary], img[class=wsummary]{display:none !important}
		
		/*css content*/
		table[class=wtablecontent] {border:2px solid #e7e7e8; width:462px !important;} /** global table **/
		td[class=wtablecontent] {width:445px !important}
		table[class=w660content], td[class=w660content]{width:439px !important;display:block;}
		span[class=titlearticle]{font-size:20px !important}
		td[class=wleftrightcontent] {border-left:none !important;border-right:none !important; width:15px !important;} /*** margin left and right ***/
		table[class=w180content] {width:440px !important;}
		td[class=w180content]{width:220px !important;}
		td[class=w180contentimg]{width:435px !important;display:inline-block;}
		td[class=w180contenttext] {width:435px !important;display:inline-block;margin-top:15px;}
		td[class=wbtnmore] {display:none;}
		td[class=btnbottommore] {display:inline-block;width: 435px;}
		img[class=w180content] , img[class=wbtnmore] {width:220px !important;display:block;}
		img[class=w180contentimg]{width:285px !important;display:block;margin:0 85px;}
		img[class=btnbottommore_big] {float: left;margin: 0 125px !important;width: 177px !important;}
		img[class=btnbottommore_little] {display:block;float: left;margin: 0 165px !important;}
		a[class=w180], img[class=w180] {width:220px !important; display:block;}
		td[class=wborderblockcontent]{border-bottom:1px solid #e7e7e8}
		img[class=wborderblockcontent] {display:none !important}
		
		/*css vignettes*/
		table[class=w660vig], td[class=w660vig]{width:458px !important;display:block;}
		table[class=w660vigcontent], td[class=w660vigcontent]{width:458px !important;display:block;border-left:none !important; border-right:none !important}
		table[class=w660global_vig], td[class=w660global_vig] {width:440px !important;display:block}
		td[class=w660global_vig_first] {border-bottom:1px solid #E7E7E8;}
		td[class=w660global_vig_last] {border-bottom:none;}
		td[class=w25]{width:25px !important;}
		span[class=spanvignettetitle]{width:auto !important;}
		a[class=spanvignettelink]{display:block;width:440px !important;}
		img[class=imgvignett]{width:275px !important;margin: auto;}
		span[class=spanvignettecontent]{display: block;margin: 15px 15px 0;width: 420px;text-align: center;}
		a[class=spanvignettebtn]{display: block;margin-top:15px}
		td[class=w660vignettes] {width:460px !important;display:block;border-bottom:1px solid #E7E7E8;border-left: medium none !important;border-right: medium none !important;}
		td[class=w660lastvignette] {width:460px !important;display:block;border-left: medium none !important;border-right: medium none !important;}
		img[class=btn_vignette]{margin: auto;width: 171px !important;}
		
		/*css footer*/
		td[class=wspacepicto], img[class=wspacepicto]{width:5px !important;}
		td[class=wpictofooter]{width:35px !important;}
		img[class=wpictofooter]{width:25px !important;height:25px!important}
		table[class=wfollowus], td[class=wfollowus]{width:200px !important;display:block;}
		td[class=wclick]{width:255px !important;}
		span[class=wclick]{display:block;width:240px}
		span[class=law]{display:block;width:455px}
}


/* Mobile */

@media only screen and (max-device-width: 480px) { 
	table[class=w10], td[class=w10], img[class=w10] { width:15px !important;} 
	table[class=w30], td[class=w30], img[class=w30] { width:15px !important; }				
	table[class=w35], td[class=w35], img[class=w35] { display:none !important; }			
	table[class=w100], td[class=w100], img[class=w100] { width:50px !important; }  
	table[class=w140], td[class=w140], img[class=w140] { width:150px !important; text-align:center;}
	table[class=w400], td[class=w400], img[class=w400] { width:200px !important;}
	table[class=w660], td[class=w660], img[class=w660] { width:305px !important; }
	img[class=w660imgempty]{width:290px;}
	
		 /*3 lines */
		table[class=w180], td[class=w180] {width:220px !important; display:block;}
		table[class=wtableedito], td[class=wtableedito], img[class=wtableedito]{width:305px !important; display:block;margin-bottom:10px}
	
		/* css header */
		table[class=w400click], td[class=w400click], img[class=w400click] { width:145px !important; display:block !important}
		span[class=w400click]{font-size:10px !important}
		td[class=w20header] { display:none !important; }  
		img[class=wlogo]{ width:150px !important;height:41px}
		td[class=wspace_header], img[class=wspace_header]{ width:10px !important }
		td[class=wnewsletter_text]{ padding-top:22px;width:120px !important; display:block;}								
		span[class=wnewsletter_text]{ font-size:15px !important}								
		span[class=wintrotext]{ font-size:18px !important;padding-left:0;display:block}	

		/* css edito */
		table[class=w460], td[class=w460], img[class=w460] {width:250px !important;}
		table[class=wtableedito], td[class=wtableedito] {border:2px solid #e7e7e8;}
		img[class=weditomenu] {padding-left:10px;}
		
		/* css summary */
		table[class=w185], td[class=w185], img[class=w185] {width:230px !important;}
		td[class=wsummary], img[class=wsummary]{display:none !important}
		
		/*css content*/
		table[class=wtablecontent] {border:2px solid #e7e7e8; width:310px !important;} /** global table **/
		td[class=wtablecontent] {width:305px !important}
		table[class=w660content], td[class=w660content]{width:270px !important;display:block;}
		span[class=titlearticle]{font-size:20px !important}
		td[class=wleftrightcontent] {border-left:none !important;border-right:none !important; width:15px !important;}	/*** margin left and right ***/
		td[class=w180content], img[class=w180content] {width:230px !important;display:block;}
		td[class=w180contentimg]{width:230px !important;display:inline-block;}
		td[class=w180contentsmall] {width:200px !important;display:block;}
		table[class="w180content"]{width:210px !important}
		td[class=wbtnmore]{display:none;}
		img[class=w180contentimg] {width:270px !important;display:block;margin: 0 18px;}
		td[class=btnbottommore] {display:inline-block;width: 270px;}
		img[class=btnbottommore_big] {float: left;margin: 0 55px !important;width: 177px !important;}
		img[class=btnbottommore_little] {display:block;float: left;margin: 0 85px !important;}
		td[class=w180contenttext] {width:275px !important;display:block;}
		table[class=w10], td[class=w10], img[class=w10] { width:15px !important;display:block } 
		
		/*css vignettes*/
		table[class=w660vig], td[class=w660vig]{width:305px !important;display:block;}
		table[class=w660vigcontent], td[class=w660vigcontent]{width:305px !important;display:block;border-left:none !important; border-right:none !important}
		table[class=w660global_vig], td[class=w660global_vig] {width:277px !important;display:block}
		td[class=w660global_vig_first] {border-bottom:1px solid #E7E7E8;}
		td[class=w660global_vig_last] {border-bottom:none;}
		img[class=imgvignett] {width:275px !important;display:block;margin-bottom:15px;}
		td[class=w25]{width:13px !important;}
		span[class=spanvignettetitle]{width:auto !important;}
		a[class=spanvignettelink]{display:block;width:260px !important;}
		img[class=imgvignett]{width:275px !important;margin: auto;}
		span[class=spanvignettecontent]{display: block;float: left;margin-left: 15px;width: 260px;text-align: center;padding-bottom:10px}
		a[class=spanvignettebtn]{display: block;margin-top:15px;}
		td[class=w660vignettes] {width:260px !important;display:block;border-bottom:1px solid #E7E7E8;border-left: medium none !important;border-right: medium none !important;}
		td[class=w660lastvignette] {width:260px !important;display:block;border-left: medium none !important;border-right: medium none !important;}
		img[class=btn_vignette]{margin: auto;width: 171px !important;}
	
		
		/*css footer*/
		td[class=wspacepicto], img[class=wspacepicto]{width:5px !important;}
		td[class=wpictofooter]{width:35px !important;}
		img[class=wpictofooter]{width:30px !important;height:30px!important}
		table[class=wfollowus], td[class=wfollowus]{width:140px !important;display:block;}
		td[class=wclick]{display:block;width:290px !important;margin-top:15px}
		span[class=wclick]{display:block;width:290px}
		span[class=law]{display:block;width:290px;text-align:left !important;}
}